# Binaries
fides-server
fides
fides-cli
fides-mcp
fides.exe
fides-cli.exe
fides-mcp.exe
fides-server.exe


# Local storage data directories
data/
web-evidence/
fides-evidence/

# Dev files
.env
.idea/
.vscode/
*.log

# devenv
.devenv/
devenv.lock
